<%!
from django.utils.translation import ugettext as _ 
import waffle
%>

<h2>${chapter_module.display_name_with_default}</h2>

<p>${_("You were most recently in {section_link}.  If you\'re done with that, choose another section on the left.").format(
	    section_link=u'<a href="{url}">{section_name}</a>'.format(
	        url=prev_section_url,
	        section_name=prev_section.display_name_with_default,
	    )
    )}</p>

<a href="#" data-reveal-id="accordion_course_navigation_sp" role="button" class="hide-for-large-up f_button small secondary radius" style="width:100%; float:right; margin-top:2rem;">単元リスト</a>
