<%! from django.utils.translation import ugettext as _ %>

<section class="discussion" data-discussion-id="{{discussionId}}" style="overflow:visible!important;">
    <section class="newpost">
      <a href="#" class="f_button tiny radius success right" data-reveal-id="discussion_inline_new_post_modal" onclick="$('#discussion_inline_new_post_modal').foundation('reveal','open'); return false;" style="margin-top:-55px;">
        <span class="icon icon-edit new-post-icon" style="color:#fff;"></span>${_("New Post")}
      </a>
    </section>

    <section class="threads">
        {{#threads}}
            <article class="discussion-thread" id="thread_{{id}}">
            </article>
        {{/threads}}
    </section>
 
    <section class="pagination">
    </section>
</section>
