<%! from django.utils.translation import ugettext as _ %>

<article class="discussion-article" data-id="{{id}}">
    <div class="thread-wrapper">
        <div class="thread-content-wrapper"></div>
        <div class="post-extended-content">
         ## <div class="response-count"/>
          <div class="add-response">
              <button class="f_button tiny radius add-response-btn right" style="background-image:none; text-shadow:none;">
                  <i class="icon icon-reply"></i>
                  <span class="add-response-btn-text" style="color: #fff;">${_('Add A Response')}</span>
              </button>
          </div>
          <ol class="responses" style="clear:both;" />
          <div class="response-pagination"/>
          <form class="local discussion-reply-new"  data-id="{{id}}">
              <h4>${_("Post a response:")}</h4>
              <ul class="discussion-errors"></ul>
              <div class="reply-body" data-id="{{id}}" style="margin-bottom:20px;"></div>
              <div class="reply-post-control">
                 <a class="discussion-submit-post f_button tiny radius success right" href="#">${_("Submit")}</a>
              </div>
          </form>
        </div>
    </div>

    <div class="local post-tools">
        <a href="javascript:void(0)" class="expand-post" style="border-radius: 3px; border: 1px solid #b2b2b2; padding:5px;"><span class="icon icon-plus"/> ${_("Expand discussion")}</a>
        <a href="javascript:void(0)" class="collapse-post" style="border-radius: 3px; border: 1px solid #b2b2b2; padding:5px;""><span class="icon icon-minus"/> ${_("Collapse discussion")}</a>
    </div>

</article>
